$bodyColor: gainsboro;

body {
    background-color: $bodyColor;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
}

.search {
    width: 300px;
    padding: 6px;
}

.search-input {
    width: 100%;
}

.search-result-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.suggestion {
    text-align: left;

    color: darkslategray;
    background-color: gainsboro;

    &.active {
        color: gainsboro;
        background-color: darkslategray;
    }
}

.svg-inline--fa {
    font-size: 2em;
    padding: 6px;
}

cbutton {
    padding: 3px;
}