$bodyColor: gainsboro;

body {
    background-color: $bodyColor;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Garamond;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: Garamond;
    margin-top: 6px;
}

.app {
    display: flex;
}

.boxes-area {
    min-height: 200px;
    width: 500px;
}

.cards-area {
    width: 1350px;
}